
a.home, a.save {
	border: solid;
	border-bottom: none;
	color: black;
				
}

a.home{
	border-right-width: 1.49px;
}

a.save{
	border-left-width: 1.49px;
}

a.article:hover{
	color: black;
}

a.article, a.save:hover, a.home:hover {
	color: #f5b937;
}

.button.is-info, .button.is-primary {
	background-color: #f5b937;
}

.hero-body{
	background-color: #f5b937;
	border-top: solid black;
}


.hero.is-info .title {
	color: black;
}

.hero.is-info .subtitle{
	margin-left: 44%;
	text-decoration: underline;
}

.hero.is-info {
    background-color: #13171d;
}

.dropdown {
	display: none;
}

#saved-results{
	background-color: white;
}

#hero-title {
	padding-bottom: 20px;
}

.title{
	color: white;
}

section.section {
	padding-bottom: 0;
	min-height: 100%;
	background-color: black;
	border-top: solid white;
}

html{
	background-color: black;
}

div.container {
	min-height: 100%;
}

div#scrape-results, div#saved-results {
	min-height: 100%;
	margin-bottom: 200px;
}

.card-body{box-shadow: none;
    box-shadow: 0 1px 2px rgba(10,10,10,.1);
	display: -webkit-box;
	padding-right: 1%;
    padding-bottom: 1%;
}

p.result-text{
padding-right: 5%;
}

.result-text, .saved-text {
	width: 80%;
	padding-bottom: 30px;
	margin-left: 1%;
	margin-top: 0.3%;
}

.card-header {
	padding-left: 1%;
	font-size: 140%;
}

.save-article {
	margin-top: 7%;
    margin-left: 8%;
}

.result-div {
 clear: both;
}

.saved-text {
 width: 65%;
}

.comments-button.button is-info.is-medium{
background-color: #3273dc;
}

.comments-button {
	float: right;
	margin-top: 25px;
}

.unsave-button {
	float: right;
	margin-top: 25px;
	margin-left: 5%;
}

.saved-div {
 clear: both;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 40px 0;
}

span.icon {
	padding-right: 25px;
	padding-left: 15px;
}

@media only screen and (max-width: 767px) {

.card-body {
    display: flow-root;
}
.save-article.button.is-info.is-medium {
    margin-left: 31%;
    margin-top: -1%;
    margin-bottom: 7%;
}

p.result-text {
    margin-left: 14%;
    margin-top: 2%;
    text-align: center;
}

a.article {
	text-align: center;
}

.button.is-primary {
	margin-left: 0%;
    margin-top: 5%;
}

.hero.is-info a:not(.button) {
    text-align: center;
    margin-left: -1%;
}

.hero.is-info .subtitle {
    margin-left: 1%;
}

.title {
    text-align: center;
}

#hero-title {
    text-align: left;
}

.saved-text {
	/* padding-right: 10%; */
	text-align: center;
	margin-top: 8%;
	width: 98%;
}

a.comments-button.button.is-info.is-medium {
	margin-left: -39.5%;
	margin-top: 3%;
	padding-right: 3%;
	margin-right: -38%;
}

fa-comments{
    margin-left: -4%;
}

a.unsave-button.button.is-danger.is-medium {
	margin-top: 19%;
}

.is-danger {
	margin-right: 34%;
	margin-bottom: 10%;
}

}